.minmax {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.form-control {
  display: flex;
  margin-bottom: 4vh;
  width: 40vw;
  height: 4vh;
}
.select-form {
  height: 63vh;
  width: 50vw;
  background-color: #343a40;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(98, 0, 255, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5vw 15vw 15vw 25vw;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.select-all-form {
  height: 25vh;
  width: 50vw;
  background-color: #343a40;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(98, 0, 255, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5vw 15vw 15vw 25vw;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.selectPageAll {
  background-color: #a9b3ce;
  min-width: 100vh;
  min-height: 100vh;
  display: inline-block;
  align-items: center;
}
.selectPage {
  background-color: #a9b3ce;
  min-width: 100vh;
  min-height: 100vh;
  display: inline-grid;
  align-items: center;
}
.delete-form {
  height: 55xvh;
  width: 50vw;
  background-color: #343a40;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(98, 0, 255, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5vw 15vw 15vw 25vw;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.deletePage {
  background-color: #a9b3ce;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.loginPage {
  background-color: #a9b3ce;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.operationsPage {
  background-color: #a9b3ce;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.operations-form-people {
  height: 85vh;
  width: 50vw;
  background-color: #343a40;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(98, 0, 255, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5vw 15vw 15vw 25vw;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.operations-form-instructor {
  height: 125vh;
  width: 50vw;
  background-color: #343a40;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(98, 0, 255, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5vw 15vw 15vw 25vw;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.operations-form-project {
  height: 85vh;
  width: 50vw;
  background-color: #343a40;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(98, 0, 255, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5vw 15vw 15vw 25vw;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.operations-form-department {
  height: 60vh;
  width: 50vw;
  background-color: #343a40;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(98, 0, 255, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5vw 15vw 15vw 25vw;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.operations-form-student {
  height: 163vh;
  width: 50vw;
  background-color: #343a40;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(98, 0, 255, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5vw 15vw 15vw 25vw;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.operations-form-course {
  height: 90vh;
  width: 50vw;
  background-color: #343a40;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(98, 0, 255, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5vw 15vw 15vw 25vw;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.login-form {
  height: 50vh;
  width: 50vw;
  background-color: #343a40;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 0 10px 30px 0 rgba(98, 0, 255, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5vw 15vw 15vw 25vw;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
.welcome-text {
  width: 50%;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  display: absolute;
  background-color: palegoldenrod;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
input[type="text"],
select {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  border-style: none;
  background-color: #343a40;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
.button {
  background-color: #81e4da;
  border: none;
  color: #343a40;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

div {
  border-radius: 5px;
  background-color: #343a40;
  padding: 20px;
}
